article h1{
    padding-left: 20px;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.margin-bottom{
    margin-bottom: 20px;
}

#container01{
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: solid;
    border-color: rgb(100, 177, 145);
    border-width: 3px;
}

#article-color{
    margin-right:20px;
    padding: 20px;
    background-color: whitesmoke;
}



#border-color{
    width:100%;
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(212, 131, 38);
    border-width: 3px;
}

#border-color-top{
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: rgb(212, 131, 38);
    border-width: 3px;
}

#border-color-top-bottom{
    border: solid;
    border-color: rgb(212, 131, 38);
    border-width: 3px;
}





