article h1{
    padding-left: 20px;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.margin-bottom{
    margin-bottom: 20px;
}

#container01{
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: solid;
    border-color: rgb(100, 177, 145);
    border-width: 3px;
}

#article-color{
    margin-right:20px;
    padding: 20px;
    background-color: whitesmoke;
}

#image-border{
    border: solid;
    border-color: rgb(61, 61, 61);
    border-width: 2px;
}

#align-center{
    text-align: center;
}

#border-color{
    width:100%;
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(212, 131, 38);
    border-width: 3px;
}

#portfolio{
    color:whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;

}

#background-logo{
    background-image: url="Images/Logo-01.png";
    height: 3rem;
}

picture img {
    border-radius: 10px;
    box-shadow: 0 4px 0 0
}

#border-color-top{
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: rgb(212, 131, 38);
    border-width: 3px;
}

#border-color-top-bottom{
    border: solid;
    border-color: rgb(212, 131, 38);
    border-width: 3px;
}

#margin-fix-01{
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}

.text-box{
    color:whitesmoke;

}

.margin-textbox{
    margin-left: 5%;
    margin-right: 5%;
    color: whitesmoke;
}

.top-margin{
    margin-top:5%;
}

.row-margin{
    margin-left: 10px;
    margin-right: 10px;
}

.photo-size-sm{
    height: 50%;
}

.margin-height-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.margin-bottom-textbox{
    margin-bottom: 5%;
}
