/*HOME PAGE */
html {
    height: 100%;
}

body {
    height: 100%;
}


.row-height {
    height:60vh;
}

.full-view { /* Makes component take up entire screen */
    width: 100%;
    border: none;
    padding: 0;
    
}

.main-info {
    background: linear-gradient(90deg, rgb(172, 193, 199) 0%, rgb(128, 151, 173) 25%,rgb(152, 198, 219) 50%,rgb(207, 221, 226) 75%);
    min-height: 100%;
    box-shadow: inset 0px 0px 30px rgba(7, 89, 136, 0.616);
}

.main-image-container {
    background-color: rgb(7, 15, 15);
    height: 100%;
    padding: 0;
    margin: 0;
    
}

div::-webkit-scrollbar { /*SCROLL BAR*/
    width: 12px;
}

div::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
    box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}


/*HOME PAGE */

.colorChanger:hover {
    cursor: pointer;
    

    
}


.scrolling-wrapper{
    overflow-x: auto;
}



.content-title-box {
    border: 1px solid rgba(0, 0, 255, 0.164);
    border-radius: 30px;
    padding: 6%;
    margin-bottom: 0;
    margin-left: 15%;
    margin-right: 15%;
    box-shadow: 5px 5px 5px 5px rgba(0, 195, 255, 0.109);
    background-color: rgba(255, 255, 255, 0.39);

}


.img-size {
    object-fit: cover;
    width: 100%;
    height: 100%;
    
}

.r100 {
    height: 100%;
}


@media (min-width: 544px) {
    .r100 {
        height: 100%;
    }
    
    }

    @media (min-width: 768px) {
        .r100 {
            min-height: 100%;
        }
        
        }
    
    @media (min-width: 992px) {
        .r100 {
            min-height: 100%;
        }
            
        }
    
    @media (min-width: 1200px) {
        .r100 {
            height:100%;
        }
    }


/*GRAPHIC.JS */

.scrolling-x {   
        overflow-x: auto;
}

.graphic-style {
    background-size: 100% 100%;
        background-image: linear-gradient(to right, rgb(211, 243, 253), rgba(0, 25, 49, 0.774))
}

.title-text {
    text-align: center;
    font-family: 'Bebas Neue', cursive;
}





















article h1{
    padding-left: 20px;
    padding-top: 10%;
    padding-bottom: 10%;
    
}

.margin-bottom{
    margin-bottom: 20px;
}

#container01{
    padding: 20px;
    width: 100%;
    background-color: whitesmoke;
    border-bottom: solid;
    border-color: rgb(100, 177, 145);
    border-width: 3px;
}

#article-color{
    margin-right:20px;
    padding: 20px;
    background-color: whitesmoke;
}

#image-border{
    border: solid;
    border-color: rgb(61, 61, 61);
    border-width: 2px;
}

#align-center{
    text-align: center;
}

#border-color{
    width:100%;
    border-top: solid;
    border-bottom: solid;
    border-color: rgb(212, 131, 38);
    border-width: 3px;
}

#portfolio{
    color:whitesmoke;
    padding-top: 20px;
    padding-bottom: 20px;

}

#background-logo{
    background-image: url="Images/Logo-01.png";
    height: 3rem;
}

picture img {
    border-radius: 10px;
    box-shadow: 0 4px 0 0
}

#border-color-top{
    border-top: solid;
    border-left: solid;
    border-right: solid;
    border-color: rgb(212, 131, 38);
    border-width: 3px;
}

#border-color-top-bottom{
    border: solid;
    border-color: rgb(212, 131, 38);
    border-width: 3px;
}

#margin-fix-01{
    margin-left: auto;
    margin-right: auto;
    color: whitesmoke;
}

.text-box{
    color:whitesmoke;

}

.margin-textbox{
    margin-left: 5%;
    margin-right: 5%;
    color: whitesmoke;
}

.top-margin{
    margin-top:5%;
}

.row-margin{
    margin-left: 10px;
    margin-right: 10px;
}

.photo-size-sm{
    height: 50%;
}

.margin-height-auto{
    margin-top: auto;
    margin-bottom: auto;
}

.margin-bottom-textbox{
    margin-bottom: 5%;
}


.arrow-button:hover {
    cursor: pointer;
}