a {
    color: black;

}

a:hover {
    color: rgb(26, 26, 26);
    text-decoration: none;
}

.content-title-font {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
    font-weight: 900;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.253);
}


.content-title { /* Page Content Title H1 */
    font-size: 1.5em;
    padding: 1%;
}

.main-text-font {
    font-family: 'Nanum Myeongjo', serif;
    text-align: center;
}

.main-text {
    font-size: 1em;
    text-shadow: 1px 1.5px 3px rgba(0, 43, 65, 0.383);
}

    @media (min-width: 544px) {
        .content-title { /* Page Content Title H1 */
            font-size: 2em;
            padding: 1%;
        }

        .main-text {
            font-size: 1em;
        }

        }
    
    
    
    @media (min-width: 768px) {
        .content-title { /* Page Content Title H1 */
            font-size: 1.5em;
            padding: 1%;
        }
        .main-text {
            font-size: 1em;
            padding: 0%;
        }

        }
    
    @media (min-width: 992px) {
        .content-title { /* Page Content Title H1 */
            font-size: 1.9em;
            padding: 1%;
        }
        .main-text {
            font-size: 1.2em;
        }
            
        }
    
    @media (min-width: 1200px) {
        .content-title { /* Page Content Title H1 */
            font-size: 2.4em;
            padding: 1%;
        }
        .main-text {
            font-size: 1.4em;
        }
    }