.footer {
    background-color: black;
    width: 100%;
    height: 20vh;
    color: whitesmoke;
}

.center {
    text-align: center;
    padding-top: auto;
    padding-bottom: auto;
    justify-content: center;
}

