.scrolling-x {
    overflow-x: auto;
    background-size: 100% 100%;
    background-image: linear-gradient(to right, white, rgba(0, 0, 0, 0.774))
}

.image-box {
    border: 2px solid rgba(0, 140, 255, 0.103);
    border-radius: 5%;
    margin: 1%;
    padding: 5% 0.5% 5% 0.5%;
    background-color: rgba(255, 255, 255, 0.52);
    box-shadow: inset 0px 0px 10px 5px rgba(1, 19, 41, 0.219);

}
    .description-box {
        border: 1px solid rgba(0, 0, 0, 0.137);
        border-radius: 10%;
        margin: 5% 10% 5% 10%;
        padding: 5% 5% 5% 5%;
        background-color: rgba(238, 238, 238, 0.918);
    }


.boundry {
    margin-left: 10%;
    padding: 0;
    
    
    
    

}

.img-style {
    width: 250px;
}

.background-color-button {
    height: 25px;
    width: 75px;
    box-shadow: inset 0 0 6px rgb(0, 0, 0);
}

.arrow-button {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}