p {
    font-size: 1em;
    padding: 1%;
    margin: 0;
}

.row-style {
    text-align: center;
    padding: 25px 0 25px 0;
    display: flex;
    max-width: 100vw;
}

.white-text{
    color: white;
}


.image-box-style { /*Container for portfolio image*/
    margin: auto;
    margin-right: 0;
    margin-left: 0;
    
}

@media (min-width: 544px) {
    .image-box-style { /*Container for portfolio image*/
        justify-content: center;
        text-align: center;
        height: 40vh;
    }
}

.image-style { /*Portfolio image*/
    margin: auto;
    width: 75%;
    height: 100%;
    object-fit: contain;
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.123);
    
}

.image-style:hover {
    border: 10px solid (rgb(255, 0, 0));
}

.arrow-button-box {
    margin: auto;
}

.arrow-button {
    margin: auto;
    border: 2px solid transparent;
    transition: border 0.1s linear;
    
}
.arrow-button:hover {
    border: 1px solid rgba(21, 119, 184, 0.274);
    background-color: rgba(21, 119, 184, 0.055); 
}

.description-box {
    text-align: center;
    color: black;
    background: linear-gradient(130deg, rgb(217, 232, 250),rgb(119, 189, 255));
    width: 50vw;
}

.description-box h3 a {
    color:rgb(1, 75, 165);
}
