:root {
    --profile-size: 60%
}

.header-container { /* sets height relitive to parent container */
    
    background: linear-gradient(85deg, rgb(0, 0, 0) 0%, rgb(34, 34, 34) 25%,rgb(0, 0, 0) 50%,rgb(37, 37, 37) 75%);;
    color: white;
    margin: 0;
    padding: 1%;
}

.row-height {
    height: 100%;
}

.profile-container {
    text-align: center;
    
}

.fit {
    height: fit-content;
}

.profile-image {
    margin: 2% auto;
    padding-bottom: 1%;
}

#profile-image-id {
    object-fit: contain;
    width: var(--profile-size);
    height: var(--profile-size);
    max-width: var(--profile-size);
    max-height: var(--profile-size);
}

.set-height {
    height: 100%;
}

.border {
    
    border: 2px solid red;
}

/* NAVIGATION */

.nav-content {
    position: relative;
    padding-top: auto;
    bottom: 0px;
    margin: 0;
    width: 100%;
}

.row-90 {
    height: 80%;
}

/* sets height of child to match parent container */

.nav-design {
    border: 1px solid transparent;
    border-radius: 15px;
}

.nav-design:hover {
    border: 1px solid blue;
    border-radius: 15px;
    
}

.nav-text {
    font-size: 3vw;
    color: white;
}

@media (min-width: 544px) {
.nav-text {
    font-size: 2.8vw;
}

}

@media (min-width: 768px) {
    .nav-text {
        font-size: 2.5vw;
        
    }
    
    }

@media (min-width: 992px) {
    .nav-text {
            font-size: 2vw;
    }
        
    }

@media (min-width: 1200px) {
    .nav-text {
            font-size: 1.5vw;
    }
       
    } 