.weather-row {
    color: white;
    background: rgb(108,161,255);
    background: radial-gradient(circle, rgba(108,161,255,1) 2%, rgba(28,66,255,1) 78%, rgba(197,195,255,1) 100%);
    height: 100%;
    margin: 0 1% 0 1%;
    padding: 1% 1% 1% 1%;
}